@font-face {
  font-family: 'Ghibli';
  src: url(EyadAl-Samman-Ghibli.otf);

  font-family: 'Magical';
  src:url(Magical Story Outline.ttf);

 
}


body {
  width: 100%;
  height: 100vh;
  background-image: url("/img/wallpaperbetter.com_7680x4320 (2).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.logos {
  display: flex;
  justify-content: space-between;

}

h1 {
  font-family: 'Ghibli Regular';
  position: absolute;
  left: 365px;
  top: 160px;
  color: transparent;
  margin: auto;
  font-size: 60px;
  -webkit-text-stroke: .2px rgb(182, 99, 36);
}

.fire {
  display: flex;
  margin-top: -20px;
  margin-left: 160px;
  border-radius: 10px 10px;
}

h3 {

  display: inline-block;
  position: relative;
  margin-left: 150px;
  margin-top: -25px;
  opacity: 80%;
  background-color: rgb(96, 167, 225);
  border-style: double;
  border-top-color: rgb(89, 98, 102);
  border-width: px;
  padding-top: 3px;

  color: rgb(13, 34, 42);
  font-size: 15px;
  border-radius: 30%;

}



#root {
  
  display: flex;
  gap: 30px 30px;
  max-width: 1200px;

  flex-flow: wrap;
  align-content: space-between;



}

.filmStyle img {
border-radius: 30% 5%;
  width: 200px;
  margin-left: 55px;
  border-style: double;
  border-top-color: rgb(148, 207, 232);
  border-width: 3px;
  padding-top: 3px;
}


h2 {
  color: aliceblue;
  text-align: center;
  font-family:'Magical';
  font-size: 20px;
  margin-top: 5px;
  border-color: black;
  -webkit-text-stroke: .3px rgb(182, 99, 36);


}
h5{
  color: aliceblue;
  text-align: center;
  font-family:'Magical';
  font-size: 20px;
  margin-top: 5px;
  border-color: black;
  -webkit-text-stroke: .3px rgb(182, 99, 36);


}

h4 {
  color: aliceblue;
  text-align: center;
  font-family: 'Ghibli ';
  margin-top: 5px;
  border-color: black;

  font-size: small;
}

button {
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  color: #030a69;
  background-color: skyblue;
  border-radius: 20px;
  opacity: 80%;
   border: 2px solid #0016;
  justify-content: center;
}

.categorie1 {
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  color: #030a69;
  opacity: 80%;
  
  background-color: skyblue;
  border-radius: 20px;
  border: 2px solid #0016;
  justify-content: center;
}

.categorie {
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  color: #030a69;
  opacity: 80%;
  background-color: skyblue;
  border-radius: 20px;
  border: 2px solid #0016;
  justify-content: center;
}

.categorie2 {
  padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #030A69;
    background-color: skyblue;
    border-radius: 20px;
    border: 2px solid #0016;
    justify-content: center;
}