

body {
    width: 100%;
    height: 100vh;
    background-image: url("/img/wallpaperbetter.com_7680x4320 (2).jpg");
    background-size: cover;
    background-repeat: no-repeat;

    }


  .fire{
     
      height: auto;
    margin-top: 18%;
padding-left: 1500px;
}

}